@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
header {
    margin: 10px 20px;

}
header.navbar{
    margin-bottom: 10px;
    background-color: rgb(18, 18, 17);
}
*{
    box-sizing: border-box;
}
.logo_name{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 40px;

}
.logo{
   /* Adjust the value as needed */


}
.navbar {
    display: flex;
    align-items: center;
}
.melange{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.search_container{
    margin-left: 100px;
}

.search_input_wrapper {
    position: relative;
}

.search_icon {
    position: absolute;
    right: 10px; /* Adjust the value as needed */
    top: 50%;
    transform: translateY(-50%);
}

.search_input{
    width: 50vw;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 28px;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}
.search_input::placeholder{
    /* text-transform: uppercase; */
    letter-spacing: 2px;


}
.search_input:hover {
    padding: 12px 0 ;
    outline: 0;
    border: 1px solid transparent ;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;

}

.search_input:focus {
    padding: 12px 0 ;
    outline: none !important;
    border: 1px solid transparent ;
    border-bottom: 1px solid #575756 ;
    border-radius: 0;
    background-position: 100% center;

}
/* .search_input{
    margin-right: 10vw;
    width: 50vw;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 28px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;

} */
